RAG Pipeline gdocs.json
{
  "name": "RAG Pipeline gdocs",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "106ro-zw0mVxE3FDvjRZCoaRidklU-nYe",
          "mode": "list",
          "cachedResultName": "RAG - 1",
          "cachedResultUrl": "https://drive.google.com/drive/folders/106ro-zw0mVxE3FDvjRZCoaRidklU-nYe"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        -16
      ],
      "id": "22095cf2-dc46-4a01-b72f-6c4ea86be51f",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yyGlxhpeBNvsKWMA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3780859-a3bc-423c-ae66-1332c76f0c26",
              "name": "file_id",
              "value": "=1GuV2urqqf-GAH3RNPccdIO_B4ca0ZGyCn512FOOlfKc",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -16
      ],
      "id": "405d5d70-219f-4e6a-9445-77ad67fb71cf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "=1GuV2urqqf-GAH3RNPccdIO_B4ca0ZGyCn512FOOlfKc",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        352,
        -16
      ],
      "id": "aded5831-76cb-4459-8905-54abf341ee8f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yyGlxhpeBNvsKWMA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        512,
        -16
      ],
      "id": "962153f3-a5d6-472e-98a8-53745fcf6ba9",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        672,
        -16
      ],
      "id": "04c86fc2-5a61-4b62-b405-88a00a70352e",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "rS7xtotDktySJlsR",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        208
      ],
      "id": "9cf28fea-4bff-4a6f-9155-9278801b7a8d",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "DSXrNatnFk1suBN8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        768,
        208
      ],
      "id": "0142d069-d1ee-43db-8905-51fa20650d9c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        768,
        352
      ],
      "id": "5adf1a18-e6de-450c-b02d-b00ef1af040b",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Haloo!\nAku nathania, mau dibantu terkait tugas ilmiah nya?",
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -64,
        592
      ],
      "id": "cfe814ee-a742-4e12-9490-a733aa5d2cac",
      "name": "When chat message received",
      "webhookId": "d871e66b-d9e9-40bf-88a3-a71d55e3dfcd"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "kamu asisten penulisan ilmiah tugas akhir / skripsi. kamu dapat menjawab dengan mengacu informasi yang tersedia di data vektor pada Tool \"Supabase Vector Store\". Jika informasi tidak tersedia di tool itu, jawablah dengan \"mohon maaf, saya belum dapat memberikan jawaban.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        592
      ],
      "id": "a2806c83-00f9-4a7a-8654-fe4fc02a81ff",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        800
      ],
      "id": "b537676f-3bef-4c91-8d24-c1d7ec462472",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "DSXrNatnFk1suBN8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Panggil tool ini untuk menjawab pertanyaan tentang penelitian ilmiah mahasiswa/i STT NF.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        432,
        880
      ],
      "id": "e02f289b-488c-489e-a2cd-748f1f53cea3",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "rS7xtotDktySJlsR",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        432,
        1024
      ],
      "id": "9b00cb1f-fd30-446f-937d-1b5e699f08f1",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "DSXrNatnFk1suBN8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        224,
        800
      ],
      "id": "a7dfbf50-6f85-4bb9-a966-bbb833691cca",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "zMYBSBfWvrC9vY6N",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        496,
        592
      ],
      "id": "a6b988da-1bbc-4d51-a2db-dcf959dda58e",
      "name": "Chat",
      "webhookId": "c4cb82a5-51bd-476c-bcb4-f549540c3ef2"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d10c9ccc-3302-4549-ab4f-9872d40ad9f6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3daceff5c86313ebf3f47f1e744b0d129b3a14640ce2ece4c8dd32696e35ede3"
  },
  "id": "3704iPVry0DDKbRv",
  "tags": []
}